@font-face {
  font-family: "iconfont"; /* Project id 3849616 */
  src: url('//at.alicdn.com/t/c/font_3849616_0j4rxxfudca.woff2?t=1672757347598') format('woff2'),
       url('//at.alicdn.com/t/c/font_3849616_0j4rxxfudca.woff?t=1672757347598') format('woff'),
       url('//at.alicdn.com/t/c/font_3849616_0j4rxxfudca.ttf?t=1672757347598') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youxiang:before {
  content: "\e667";
}

.icon-csdn:before {
  content: "\e600";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-bilibili-line:before {
  content: "\e75d";
}

